$primary-color: #FFFFFF;

$text-color-light: #666666;
$text-color-dark: #1E1E1E;

$nav-text-color-light: #666666;
$nav-text-color-dark: #4C4C4C;

$border-color-light: #DDDDDD;
$border-color-dark: #1E1E1E;